* {
 margin: 0;
}

body{
    margin-top: 10px;
    background-color: azure;
}

.header{
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
}

.header h1{
    padding: 0;
    font-family: Arial;
    text-align: center;
}

.header p{
    font-family: Arial;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;

}

h4, h2, p{
    text-align: center;
    font-family: Arial;
}
