* {
 margin: 0;
}

body{
    margin: 0;
    background-color: white;
    font-family: Arial;
}

body h2{
    color: purple;
}



/*ABOUT*/

 .about{
    width: 100%;
    padding:  0 30px;
    text-align: center;
}

.about p{
    margin-left: 40px;
    margin-right: 40px;
}

/*STAFF*/

.staff {
    text-align: center;

}

.staff h2,
.staff h4 {
    margin: 20px 0 20px;
}


.staff p {
    color: #737373;
}

.staff img {

    border-radius: 50%;
    height: 200px;
    width: 200px;
    alignment: center;
    margin-left: 30px;
    
}

/*CONTACT*/

.contact {

    padding: 50px 0 80px;
    text-align: center;
}

.contact p {

    padding-bottom: 80px;
    color: #737373;
}

.contact h2 {

    margin: 20px 0 20px;
}

.contact .input-group {

    margin-bottom: 25px;
}

.contact .form-control {

    border-radius: 0 !important;
}

.contact span {

    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: green;
    color: #fff;
}

.contact .btn:hover {

    background-color: green !important;
    color: #fff !important;
}

/*LOCATION*/

.location img{
    margin-top: 25px;
}

.location{
}

/*GROOMING*/


.grooming {

    padding: 50px 0 80px;
    text-align: center;
}

.grooming p {

    padding-bottom: 80px;
    color: #737373;
}

.grooming h2 {

    margin: 20px 0 20px;
}

.grooming .input-group {

    margin-bottom: 25px;
}

.grooming .form-control {

    border-radius: 0 !important;
}

.grooming span {

    border-radius: 0 !important;
}

.grooming .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: green;
    color: #fff;
}

.grooming .btn:hover {

    background-color: green !important;
    color: #fff !important;
}


