* {
 margin: 0;
}

body{
    margin: 0;
    background-color: #f2f0f2;
    font-family: Arial;
}

body h2{
    color: purple;
}




/*ABOUT*/

 .about{
    width: 100%;
    text-align: center;

}

.about h2{
    padding-bottom: 10px;

}



/*STAFF*/

.staff {
    text-align: center;
    margin-bottom: 25px;

}

.staff h2,
.staff h4 {
    margin: 20px 0 20px;
}


.staff p {
    color: #737373;
}


.staff img {

    height: 150px;
    width: 150px;
    margin-top: 30px;
}




/*CONTACT*/

#contact_form{
    padding: 20px;
}

#contact_form h4{
    color: purple;
    font-size: 20px;
    font-family: Arial;
    margin-bottom: 15px;
}

#contact_form input[name="name"] {
    width: 500px;
    height: 30px;
}

#contact_form input[name="email"] {
    width: 500px;
    height: 30px;
}

#contact_form textarea[name='message']{
    width: 500px;
    height: 100px;
}



/*LOCATION*/

.location img{
    margin-top: 25px;
    margin-bottom: 25px;
}

.location {
    text-align: center;
}

.location h2{
    margin-top: 50px;
}


/*GROOMING*/


.grooming {

    padding: 50px 0 80px;
    text-align: center;
}

.grooming p {

    padding-bottom: 80px;
    color: #737373;
}

.grooming h2 {

    margin: 20px 0 20px;
}

.grooming .input-group {

    margin-bottom: 25px;
}

.grooming .form-control {

    border-radius: 0 !important;
}

.grooming span {

    border-radius: 0 !important;
}

.grooming .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: green;
    color: #fff;
}

.grooming .btn:hover {

    background-color: green !important;
    color: #fff !important;
}


